:root {
  --bg: #333;
  --item-bg: #d9d9d9;
  --font: #1e1e1e;
  --hover-bg: #f6f6f6;
  --box-shadow: rgba(0, 0, 0, 0.3);
  --text-shadow: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--bg);
  margin: 0;
  border: none;
}

.container {
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	height: 85vh;
}

.title {
	font-family: 'Roboto', sans-serif;
	font-size: 128px;
	color: var(--item-bg);
	background-color: var(--font);
	padding: 10px 120px;
	border-radius: 15px;
	margin-top: 50px;
	margin-bottom: 10px;
	cursor: pointer;
	z-index: 2;
	transition: transform 0.075s ease-in;
	animation: pulse 2s infinite;
}

.title:hover {
	transform: scale(1.025);
	/*color: #f6f6f6;*/
	/*animation: pulse 2s infinite;*/
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 10px 5px var(--item-bg);
  }
  50% {
    box-shadow: 0 0 18px 10px var(--item-bg);
  }
}

