:root {
  --background-color: #333;
	--title-color: #d9d9d9;
	--title-bg: #1e1e1e;
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  margin: 0;
  border: none;
}

.container {
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	height: 85vh;
}

.title {
	font-family: 'Roboto', sans-serif;
	font-size: 128px;
	color: var(--title-color);
	background-color: var(--title-bg);
	padding: 10px 120px;
	border-radius: 15px;
	margin-top: 50px;
	margin-bottom: 10px;
	cursor: pointer;
	z-index: 2;
	transition: transform 0.075s ease-in;
	animation: pulse 2s infinite;
}

.title:hover {
	transform: scale(1.025);
	/*color: #f6f6f6;*/
	/*animation: pulse 2s infinite;*/
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px 5px var(--title-color);
  }
  50% {
    box-shadow: 0 0 18px 10px var(--title-color);
  }
  100% {
    box-shadow: 0 0 10px 5px var(--title-color);
  }
}

