.drillButton {
	margin: 25px;
	width: 300px;
	height: 80px;
	background-color: #3a7735;
	color: var(--item-bg);
	border-radius: 20px;
	border: 5px solid var(--item-bg);
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 10px 0 var(--box-shadow);
	transition: transform 0.0005s ease-in-out;
	transition: box-shadow 0.005s ease-in-out;
	cursor: pointer;
}

.drillButton:hover {
	border-color: var(--item-bg);
	text-shadow: none;
  transform: scale(1.025);
	box-shadow: 0 0 8px 5px var(--item-bg);
}

