.drillBox {
	height: 285px;
	width: 505px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 72px;
	font-family: 'Roboto', sans-serif;
	background-color: var(--item-bg);
  color: var(--font);
	border-radius: 20px;
  box-shadow: 0 6px 10px 0 var(--box-shadow);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	margin-top: 30px;
}

