:root {
  --bg: #333;
  --item-bg: #d9d9d9;
  --font: #1e1e1e;
  --hover-bg: #f6f6f6;
  --box-shadow: rgba(0, 0, 0, 0.3);
  --text-shadow: rgba(0, 0, 0, 0.2);
  --hover-shadow: rgba(0, 0, 0, 0.5);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--bg);
}

.menuItem {
  margin: 10px;
  padding: 10px 80px;
  background-color: var(--item-bg);
  border: 5px solid var(--font);
  color: var(--font);
  border-radius: 20px;
  font-size: 72px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 10px 15px 0 var(--box-shadow);
  text-shadow: 1px 1px 2px var(--text-shadow);
}

.menuItem:not(:hover) {
  transition: box-shadow 0.3s ease-out;
}

.menuItem:hover {
  background-color: var(--hover-bg);
  transform: scale(1.025);
  animation: shadow-pulse 1s infinite alternate ease-in-out;
}

@keyframes shadow-pulse {
  from {
    box-shadow: 0 10px 15px 0 var(--box-shadow);
  }
  to {
    box-shadow: 0 15px 25px 0 var(--hover-shadow);
  }
}
