.menuItem {
  margin: 10px;
  padding: 10px 80px;
  background-color: var(--item-bg);
  border: 5px solid var(--font);
  color: var(--font);
  border-radius: 20px;
  font-size: 72px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 8px 12px 0 var(--box-shadow);
  text-shadow: 1px 1px 2px var(--text-shadow);
	transition: transform 0.0005s ease-in-out;
	transition: box-shadow 0.005s ease-in-out;
	/*transition: border-color 0.075s ease-in;*/
  /*transition: background-color 0.075s ease-in;*/
}

.menuItem:hover {
  background-color: var(--item-bg);
	color: var(--bg);
	border-color: var(--hover-bg);
	text-shadow: none;
  transform: scale(1.025);
	box-shadow: 0 0 8px 5px var(--item-bg);
}

